@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700&display=swap');

h1 {
  color: #888;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#grid {
  display: flex;
  flex-flow: row wrap;
}

.contact-card {
  background-color: #eee;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: 'Roboto', sans-serif;
  margin: 16px;
  width: 344px;
}

.contact-card img {
  height: 194px;
  object-fit: cover;
  width: 100%;
}

.contact-info {
  padding: 16px 16px 8px 16px;
}

p {
  margin: 0;
}

.contact-name {
  font-size: 1.3em;
}

.contact-email {
  color: #666;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
}

.contact-card button {
  background: none;
  height: 24px;
  margin-right: 8px;
  width: 24px;
}

.action-button img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

#fab {
  align-items: center;
  background-color: blue;
  border-radius: 50%;
  bottom: 16px;
  box-shadow: 0 6px 10px 0 #666;
  display: flex;
  height: 56px;
  justify-content: center;
  position: fixed;
  right: 16px;
  width: 56px;
}

.modal-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.overlay {
  background-color: #0009;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  height: 70%;
  position: absolute;
  width: 70%;
}

.modal-body {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 24px;
}

.modal-actions {
  border-top: 1px solid #ccc;
  padding: 4px;
  text-align: right;
}

.modal-actions button {
  background: none;
  font-size: 14px;
  font-weight: 600;
  margin: 4px;
  padding: 10px;
  text-transform: uppercase;
}

.display-none {
  display: none;
}
