@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
  color: #888;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#grid {
  display: flex;
  flex-flow: row wrap;
}

.contact-card {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  margin: 16px;
  width: 344px;
}

.contact-card img {
  height: 194px;
  object-fit: cover;
  width: 100%;
}

.contact-info {
  padding: 16px 16px 8px 16px;
}

p {
  margin: 0;
}

.contact-name {
  font-size: 1.3em;
}

.contact-email {
  color: #666;
}

button {
  border: 0;
  cursor: pointer;
  height: 24px;
  margin-right: 8px;
  padding: 0;
  width: 24px;
}

.action-button img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
